html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
    color: $grayishblue;
    font-weight: 300;
    line-height: 1.5;
    min-height: 300vh;

    @include breakpoint-up(large) {
        font-size: $font-md;
    }

    &.noscroll {
        overflow: hidden;
    }
}

// TEXT
h1, h2, h3 {
    font-weight: 300;
    line-height: 1.15;
    color: $darkblue;
    margin-top: 0;
}

h1 {
    margin-bottom: 1.5rem;

    @include breakpoint-up(large) {
        font-size: $font-xl;
    }
}

h2 {
    font-size: 1.875rem;
    margin-bottom: 1.5625rem;

    @include breakpoint-up(large) {
        font-size: 2.25rem;
        margin-bottom: 2.25rem;
    }
}

p {
    line-height: 1.5;
    margin-bottom: 1.625rem;
}

a, a:visited, a:hover {
    text-decoration: none;
}

// SPACING
.container {
   max-width: 69.375rem;
   margin: 0 auto;

   &--pall {
    padding-top: 4.375rem;
    padding-right: 1.5rem;
    padding-bottom: 3.375rem;
    padding-left: 1.5rem;

    @include breakpoint-up(large) {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
   }

    &--py {
        padding-top: 4.375rem;
        padding-bottom: 4.375rem;
    }

    &--px {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }

    &--pt {
        padding-top: 4.375rem;

        @include breakpoint-up(large) {
            padding-top: 6rem;
        }
    }

    &--pr {
        padding-right: 1.5rem;
    }

    &--pb {
        padding-bottom: 4.375rem;

        @include breakpoint-up(large) {
            padding-bottom: 6rem;
        }
    }

    &--pl {
        padding-left: 1.5rem;
    }
   
}


// FLEXBOX
.flex {
    display: flex;

    &-jc-sb { 
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}

button,.button {
    display: inline-block;
    padding: 1rem 2.1875rem;
    background: linear-gradient(to right, $limegreen, $brightcyan);
    border-radius: 50px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: 400;
}



// VISIBILITY
.hide-for-mobile {
    // Hide for mobile and tablet
    @include breakpoint-down(medium) {
        display: none;
    }
}

.hide-for-desktop {
    // Hide for desktop viewport width
    @include breakpoint-up(large) {
        display: none;
    }
}

